**.class

# Package Files #
**.jar
**.war
**.deb
**.ear

# virtual machine crash logs
**/hs_err_pid*

# remove target folder
**/target/

# Others
**/.metadata
**/.DS_Store
**/.classpath
**/.project
**/.settings
**/logs
**/log
**/bin

**/build
**/version.prop
**.iml
**/.idea


# hibernate props file
src/main/resources/hibernate.properties

# aws creds file
src/main/resources/awsCreds.properties
